/* this is some test CSS for the live load application */
body {
	font-family: sans-serif;
	font-size: 0.65em;
}

h1 {
	color: green;
	font-size: 3em;
}
h2 {
	color: red;
}

#pop.pop_inactive {
	display: none;
}
#pop.pop_active {
	display: block;
	position: absolute;
	width: 50%;
	height: 50%;
	top: 20%;
	left: 25%;
	border: 3px solid #000;
	background-color: #c9f;
	padding: 1em;
	font-size: 1.5em;
	color: white;
	font-weight: bold;
}
